@model Contacts
@{
    ViewData["Title"] = "Contacts";
}

<h1>Contacts Write your Contact Data </h1>

<form method="post" asp-controller="Contacts" asp-action="Check">

    <label asp-for="Name"></label>
    <input asp-for="Name" />
    <span asp-validation-for="Name"></span>

    <label asp-for="SureName"></label>
    <input asp-for="SureName" />
    <span asp-validation-for="SureName"></span>

    <label asp-for="Age"></label>
    <input asp-for="Age" />
    <span asp-validation-for="Age"></span>

    <label asp-for="Email"></label>
    <input asp-for="Email" />
    <span asp-validation-for="Email"></span>

    <label asp-for="Message"></label>
    <input asp-for="Message" />
    <span asp-validation-for="Message"></span>

    <input type="submit" value="Send"/> 
</form>